@import 'variables';

* {
    margin: 0;
    padding: 0;
}

*::before,
 *::after {
     box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;        //1rem = 10px
}

body {
    font-family: 'Barlow Semi Condensed', sans-serif;
    background-color: $color-secondary-2;
}

.container {
    padding: 10% 0;
    
    display: grid;
    grid-template-columns: [margin-start] minmax(5vw, 10vw) [center-start] repeat(8, [col-start] 1fr [col-end])
                           [center-end margine-end] minmax(5vw, 10vw);
    grid-template-rows: min-content;
    grid-gap: 3rem;
}

.attribution {
    grid-column: center-start / col-end 2;
    grid-row: 6 / 7;
}


