.testimony {
    line-height: 1.4;
    &__headline {
        color: white;
        font-weight: 500;
    }

    &__statement {
        color: $color-secondary-1;
        font-size: 1.3rem;
        font-weight: 500;
    }

    &--dark {
        color: $color-primary-3;
    }
}

.user {
    &__item {
        line-height: 1.35;
        font-size: 1.3rem;
    }

    &__name {
        color: white;
        font-weight: 500;
    }

    &__tag {
        color: $color-secondary-1;
    }

    &--dark {
        color: $color-primary-3;
    }
}