$color-primary-1: hsl(263, 55%, 52%);  //Moderate violet
$color-primary-2: hsl(217, 19%, 35%);  //Very dark grayish blue
$color-primary-3: hsl(219, 29%, 14%);  //Very dark blackish blue

$color-secondary-1: hsl(0, 1%, 72%);  //Light gray
$color-secondary-2: hsl(210, 46%, 95%);  //Light grayish blue
$color-secondary-3: hsl(0, 0%, 41%);     //dark gray
